@CHARSET "UTF-8";


html, body {
	margin: 2px;
}

body {
	background-color: #EEE;
}

table, th, tr, td {
	border: solid black 1px;
	border-collapse: collapse;
}
td {
	padding: 5px;
	display: table-cell;
	vertical-align: middle;
}
table.hidden, table.hidden tr, table.hidden td {
	border: none;
}

h1, h2 {
	display: inline;
}

.right_applet {
	float: right;
	border: none;
}

form {
	display: inline;
}

fieldset {
	margin: 0 10px;
	background-color: #DDD;
}

input {
	background-color: #EEE;
	border:1px solid #AAA;
}

.footer {
	font-size: small;
	background-color: #FCC;
	text-align: center;
}