@CHARSET "UTF-8";


html, body {
	margin: 2px;
}

body {
	background-color: #EEE;
}

table, th, tr, td {
	border: solid black 1px;
	border-collapse: collapse;
}
td {
	padding: 5px;
}
table.hidden, table.hidden tr, table.hidden td {
	border: none;
}

h1, h2 {
	display: inline;
}

p.login {
	text-align: right;
	margin: 0px 0px;
}

fieldset {
	margin: 0 10px;
	background-color: #DDD;
}

input {
	background-color: #EEE;
	border:1px solid #AAA;
}

